.ActiveService, .DeactiveService, 
.True, .False,
.ReadMessage, .UnreadMessage,
.Download, .Edit, .Delete, .ViewDetails,
.Publish, .UnPublish
{
    width: 33px;
    height: 33px;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.ActiveService   { background-image: url('images/32/active.png'); }
.DeactiveService { background-image: url('images/32/deactive.png'); }
.True            { background-image: url('images/32/tick02.png'); }
.False           { background-image: url('images/32/error.png'); }
.ReadMessage     { background-image: url('images/32/MailRead.png'); }
.UnreadMessage   { background-image: url('images/32/MailUnread.png'); }
.Download        { background-image: url('images/32/Download.png'); }
.Edit            { background-image: url('images/32/Edit2.png'); }
.Delete          { background-image: url('images/32/delete.png'); }
.ViewDetails     { background-image: url('images/32/note_view.png'); }

.Publish         { background-image: url('images/32/publish.png'); }
.UnPublish       { background-image: url('images/32/unpublish.png'); }

.RoyaAlternativeRow
{
    background-color: #EBEBEB;
}

.RoyaPanelWrapper
{
    display: inline-block;
    padding: 10px;
    width: 80%;
}



/*----------------------------------- Roya Table -----------------------------------*/
.RoyaTable 
{
    
}

.RoyaTable span { display: block; padding: 0px 5px; }

.RoyaTable thead
{
    background-color: rgb(187, 187, 187);
    font-weight: bold;
}

.RoyaTable thead tr { height: 3.6em; }

.RoyaTable td { border-right: 1px solid gray; }

.RoyaTable td:last-child { border-left: 1px solid gray; }

.RoyaTable tbody tr:first-child td, .RoyaTable thead tr:first-child td { border-top: 1px solid gray; }

.RoyaTable tbody tr:last-child td, .BottomBorder td { border-bottom: 1px solid gray; }
/*
.RoyaTable td.tablefunctions  
{
    border: 0px none transparent; 
}

.RoyaTable tbody td .tablefunctions :last-child 
{
    border-left: 1px solid gray; 
}

.RoyaTable tbody td .tablefunctions :first-child
{
    border-right: 1px solid gray; 
}
*/

.tablefunctions
{
    min-width: 170px;
    text-align: right;
}

.tablefunctions a
{
    display: inline-block;
    width: 32px;
    height: 32px;
}

/*----------------------------------- End::Roya Table -----------------------------------*/

.RoyaToolBox
{
    display: block;
    color: White;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-bottom: 5px;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    background: rgb(102,102,102); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjY2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY5JSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(102,102,102,1) 0%, rgba(51,51,51,1) 69%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,1)), color-stop(69%,rgba(51,51,51,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(102,102,102,1) 0%,rgba(51,51,51,1) 69%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(102,102,102,1) 0%,rgba(51,51,51,1) 69%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(102,102,102,1) 0%,rgba(51,51,51,1) 69%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(102,102,102,1) 0%,rgba(51,51,51,1) 69%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */

}

a img 
{
    border-width: 0px;
}


input[type='text']:focus
{
    background-color: #FFFF99;
}

input[type='text']
{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    border: 1px solid gray;

    padding: 3px;
}


/* -------------------------------------------------------------------------------------- */

.RoyaSliderWrapper
{
    box-shadow: 0px 0px 10px -2px rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
}

.RoyaThumbNewsPhotoFrame
{
    margin: 3px 0px 0px 20px;
    padding: 4px;
}