@model List<XSS_Victim.DAL.Users>
@using RoyaMVC_EN.HTMLHelpers
@using RoyaMVC_EN.Models
@using XSS_Victim.Models
@{
    ViewBag.Title = "Home Page";
}

<div  class="Title">Last registered users</div>

<div>

    @foreach (var item in Model)
    {
        @Html.RoyaOptionItem("user" + item.IDUser.ToString(),
        item.UserFullName,
        new RouteModel("Profile", "Index", new { id = item.IDUser }),
        new RouteModel(item.ProfilePicturePath, true))
    }

    @Html.RoyaOptionItem("user997",
        "Mohammad Taghi Jahed",
        new RouteModel("Profile", "Index", new { id = 997 }),
        new RouteModel("../../Content/UserContents/User999_ProfilePicture.png", true))


    @Html.RoyaOptionItem("user998",
        "Mohammad Taghi Jahed",
        new RouteModel("Profile", "Index", new { id = 998 }),
        new RouteModel("../../Content/imgs/avatar.jpg", true))


    @Html.RoyaOptionItem("user999",
        "Mohammad Taghi Jahed",
        new RouteModel("Profile", "Index", new { id = 999 }),
        new RouteModel("../../Content/UserContents/User999_ProfilePicture.png", true))
</div>