@{
    ViewBag.Title = "Home Page";
}
<div class="item">
    <div dir="rtl">
        <span style="float:right; margin-left:10px; margin-top:8px;padding-bottom:5px;"><img style="width:32px; width:32px;" src="~/Content/imgs/av.png" /></span>
        <span style="float:right;font:9pt tahoma; margin-bottom:0px;margin-top:8px;"> امیرحسین <br><span style="color:#999;font:7pt tahoma; line-height:22px;"> دوشنبه 1 فروردین سال 1391</span></span>
        <div style=" width:150px; float:left;" class="uibutton-group">
            <a href="#button" class="uibutton icon edit" title="ویرایش یا حذف" style="height:13px; width:11px;" href="#button"></a>
            <a href="#button" class="uibutton" title="پررنگ کردن" style="height:13px;" href="#button">پررنگ کردن</a>
        </div><div class="clr"></div>
        <hr style="color:#c00;background-color:#ccc;height:1px;border:none; width:470px;" />
        <iframe src="http://www.aparat.com/video/video/embed/videohash/5bk3Z/vt/frame" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" height="340" width="468"></iframe>
    </div>
    <div class="act">لایک · ارسال نظر · اشتراک گذاری</div>
    <div class="act" style="background-image:url(imgs/like.png); background-repeat:no-repeat; background-position:right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; شما و 7 نفر دیگر این پست را لایک کرده اید.</div>
    <div class="comment">
        <span style="float:right; margin-left:10px;"><img style="width:32px; width:32px;" src="~/Content/imgs/av.png" /></span>
        <span style="float:right;font:9pt tahoma; margin-bottom:0px; color:#333;">علی : آپارات بهترینه! <br><span style="font:7pt tahoma; line-height:22px; color:#666;">تاریخ نظر</span></span>
    </div>
    <div class="comment">
        <span style="float:right; margin-left:10px;"><img style="width:32px; width:32px;" src="~/Content/imgs/av.png" /></span>
        <span style="float:right;font:9pt tahoma; margin-bottom:0px;color:#333;">تقی : جالب بود! <br><span style="font:7pt tahoma;line-height:22px; color:#666;">تاریخ نظر</span></span>
    </div>
    <div class="comment">
        <span style="float:right; margin-left:10px;"><img style="width:32px; width:32px;" src="~/Content/imgs/av.png" /></span>
        <span style="float:right;font:9pt tahoma; margin-bottom:0px;color:#333;"><input type="text" placeholder="نظر  شما ..." style="width:300px;font:8pt tahoma; height:17px;" /></span>
    </div>
</div>

<div class="item">
    <div dir="rtl">
        <span style="float:right; margin-left:10px; margin-top:8px;padding-bottom:5px;"><img style="width:32px; width:32px;" src="~/Content/imgs/av.png" /></span>
        <span style="float:right;font:9pt tahoma; margin-bottom:0px;margin-top:8px;"> امیرحسین <br><span style="color:#999;font:7pt tahoma; line-height:22px;;"> دوشنبه 1 فروردین سال 1391</span></span>
        <div style=" width:150px; float:left;" class="uibutton-group">
            <a href="#button" class="uibutton icon edit" title="ویرایش یا حذف" style="height:13px; width:11px;" href="#button"></a>
            <a href="#button" class="uibutton" title="پررنگ کردن" style="height:13px;" href="#button">پررنگ کردن</a>
        </div><div class="clr"></div>
        <hr style="color:#c00;background-color:#ccc;height:1px;border:none; width:470px;" />
        <span style="font:9pt tahoma; margin-right:8px;">سلام بر ایـــران وایـــرانی!</span>
    </div>
    <div class="act">لایک · ارسال نظر · اشتراک گذاری</div>
    <div class="act" style="background-image:url(imgs/like.png); background-repeat:no-repeat; background-position:right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; شما و 7 نفر دیگر این پست را لایک کرده اید.</div>
</div>

<div class="item">
    <div dir="rtl">
        <span style="float:right; margin-left:10px; margin-top:8px;padding-bottom:5px;"><img style="width:32px; width:32px;" src="~/Content/imgs/av.png" /></span>
        <span style="float:right;font:9pt tahoma; margin-bottom:0px;margin-top:8px;"> امیرحسین <br><span style="color:#999;font:7pt tahoma; line-height:22px;;"> دوشنبه 1 فروردین سال 1391</span></span>
        <div style=" width:150px; float:left;" class="uibutton-group">
            <a href="#button" class="uibutton icon edit" title="ویرایش یا حذف" style="height:13px; width:11px;" href="#button"></a>
            <a href="#button" class="uibutton" title="پررنگ کردن" style="height:13px;" href="#button">پررنگ کردن</a>
        </div><div class="clr"></div>
        <hr style="color:#c00;background-color:#ccc;height:1px;border:none; width:470px;" />
        <span style="font:9pt tahoma; margin-right:8px; line-height:22px;">
            جورج کلونی و رابرت دنیرو بازیگران با اخلاق هالیوودی
            <br />          تهیه‌کننده فیلم سینمایی “لاله” تاکید کرد کارنامه کاری بازیگران هالیوودی برای حضور در این پروژه مهم است و از همین رو حضور بازیگرانی چون شون پن، رابرت دنیرو، جورج کلونی و بن‌ کینگزلی در این فیلم منوط به کارنامه کاری و اخلاق‌گرایی آنها خواهد بود.<br />
            شفیع آقامحمدیان مدیرعامل مرکز گسترش سینمای مستند و تجربی و تهیه‌کننده فیلم سینمایی “لاله” درباره برخی اخبار غیررسمی درباره احتمال حضور بازیگران مطرحی چون جورج کلونی و رابرت دنیرو در این فیلم سینمایی به خبرنگار مهر، گفت:<br /> حضور بازیگران هالیوودی که تاکنون از طریق رسانه‌های مختلف به کرات بیان شده تنها گمانه‌زنی است، منتها مطلوب نظر طرف قرارداد ایرانی در انتخاب این بازیگران، این است که از یک سو بتوانند پخش جهانی فیلم را تصمین کنند و از سوی دیگر افرادی انتخاب شوند که با کاراکترهای فیلمنامه مطابقت داشته باشند و کارنامه کاری آنها به لحاظ اخلاقی سالم و انسانی باشد.<br />
            با حضور بازیگران خارجی به هر قیمتی موافقت نمی‌کنیم
        </span>
    </div>
    <div class="act">لایک · ارسال نظر · اشتراک گذاری</div>
    <div class="act" style="background-image:url(imgs/like.png); background-repeat:no-repeat; background-position:right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; شما و 7 نفر دیگر این پست را لایک کرده اید.</div>
</div>

<div class="item">
    <div dir="rtl">
        <span style="float:right; margin-left:10px; margin-top:8px;padding-bottom:5px;"><img style="width:32px; width:32px;" src="~/Content/imgs/av.png" /></span>
        <span style="float:right;font:9pt tahoma; margin-bottom:0px;margin-top:8px;"> امیرحسین <br><span style="color:#999;font:7pt tahoma; line-height:22px;;"> دوشنبه 1 فروردین سال 1391</span></span>
        <div style=" width:150px; float:left;" class="uibutton-group">
            <a href="#button" class="uibutton icon edit" title="ویرایش یا حذف" style="height:13px; width:11px;" href="#button"></a>
            <a href="#button" class="uibutton" title="پررنگ کردن" style="height:13px;" href="#button">پررنگ کردن</a>
        </div><div class="clr"></div>
        <hr style="color:#c00;background-color:#ccc;height:1px;border:none; width:470px;" />
        <span style="font:9pt tahoma; margin-right:8px;">سلام بر ایـــران وایـــرانی!</span>
    </div>
    <div class="act">لایک · ارسال نظر · اشتراک گذاری</div>
    <div class="act" style="background-image:url(imgs/like.png); background-repeat:no-repeat; background-position:right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; شما و 7 نفر دیگر این پست را لایک کرده اید.</div>
</div>

<div class="item">
    <div dir="rtl">
        <span style="float:right; margin-left:10px; margin-top:8px;padding-bottom:5px;"><img style="width:32px; width:32px;" src="~/Content/imgs/av.png" /></span>
        <span style="float:right;font:9pt tahoma; margin-bottom:0px;margin-top:8px;"> امیرحسین <br><span style="color:#999;font:7pt tahoma; line-height:22px;;"> دوشنبه 1 فروردین سال 1391</span></span>
        <div style=" width:150px; float:left;" class="uibutton-group">
            <a href="#button" class="uibutton icon edit" title="ویرایش یا حذف" style="height:13px; width:11px;" href="#button"></a>
            <a href="#button" class="uibutton" title="پررنگ کردن" style="height:13px;" href="#button">پررنگ کردن</a>
        </div><div class="clr"></div>
        <hr style="color:#c00;background-color:#ccc;height:1px;border:none; width:470px;" />
        <span style="font:9pt tahoma; margin-right:8px; line-height:22px;">
            جورج کلونی و رابرت دنیرو بازیگران با اخلاق هالیوودی
            <br />          تهیه‌کننده فیلم سینمایی “لاله” تاکید کرد کارنامه کاری بازیگران هالیوودی برای حضور در این پروژه مهم است و از همین رو حضور بازیگرانی چون شون پن، رابرت دنیرو، جورج کلونی و بن‌ کینگزلی در این فیلم منوط به کارنامه کاری و اخلاق‌گرایی آنها خواهد بود.<br />
            شفیع آقامحمدیان مدیرعامل مرکز گسترش سینمای مستند و تجربی و تهیه‌کننده فیلم سینمایی “لاله” درباره برخی اخبار غیررسمی درباره احتمال حضور بازیگران مطرحی چون جورج کلونی و رابرت دنیرو در این فیلم سینمایی به خبرنگار مهر، گفت:<br /> حضور بازیگران هالیوودی که تاکنون از طریق رسانه‌های مختلف به کرات بیان شده تنها گمانه‌زنی است، منتها مطلوب نظر طرف قرارداد ایرانی در انتخاب این بازیگران، این است که از یک سو بتوانند پخش جهانی فیلم را تصمین کنند و از سوی دیگر افرادی انتخاب شوند که با کاراکترهای فیلمنامه مطابقت داشته باشند و کارنامه کاری آنها به لحاظ اخلاقی سالم و انسانی باشد.<br />
            با حضور بازیگران خارجی به هر قیمتی موافقت نمی‌کنیم
        </span>
    </div>
    <div class="act">لایک · ارسال نظر · اشتراک گذاری</div>
    <div class="act" style="background-image:url(imgs/like.png); background-repeat:no-repeat; background-position:right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; شما و 7 نفر دیگر این پست را لایک کرده اید.</div>
</div>

<div class="item">
    <div dir="rtl">
        <span style="float:right; margin-left:10px; margin-top:8px;"><img style="width:32px; width:32px;" src="~/Content/imgs/av.png" /></span>
        <span style="float:right;font:9pt tahoma; margin-bottom:0px;margin-top:8px;"> امیرحسین <br><span style="color:#999;font:7pt tahoma; line-height:22px;;"> دوشنبه 1 فروردین سال 1391</span></span>
        <div style=" width:150px; float:left; margin-bottom:0px; padding-bottom:0px;" class="uibutton-group">
            <a href="#button" class="uibutton icon edit" title="ویرایش یا حذف" style="height:13px; width:11px;" href="#button"></a>
            <a href="#button" class="uibutton" title="پررنگ کردن" style="height:13px;" href="#button">پررنگ کردن</a>
        </div><div class="clr"></div>
        <hr style="color:#c00;background-color:#ccc;height:1px;border:none; width:470px;" />
        <span style="font:9pt tahoma; margin-right:8px; margin-bottom:4px;">4 عکس بسیار زیبا!</span><br />
        <center>
            <img src="~/Content/imgs/post/1.jpg" style="margin-top:5px; max-width:115px;" />
            <img src="~/Content/imgs/post/2.jpg" style="margin-top:5px; max-width:115px;" />
            <img src="~/Content/imgs/post/3.jpg" style="margin-top:5px; max-width:115px;" />
            <img src="~/Content/imgs/post/4.jpg" style="margin-top:5px; max-width:115px;" />
        </center>
    </div>
    <div class="act">لایک · ارسال نظر · اشتراک گذاری</div>
    <div class="act" style="background-image:url(imgs/like.png); background-repeat:no-repeat; background-position:right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; شما و 7 نفر دیگر این پست را لایک کرده اید.</div>
</div>
