@using XSS_Victim.Models
@{
    ViewBag.Title = "Home Page";
    var postItems = ViewBag.PostItems as List<PostModel> ?? new List<PostModel>();
}

<div id="container">
    <div class="timeline_container">
        <div class="timeline">
        </div>
    </div>
    @foreach (var item in postItems)
    {
        Html.RenderPartial("PostItemPartialView", item);
    }

    @{
        Html.RenderPartial("PostItemPartialView",
            new PostModel()
            {
                Author = "Dr TJ",
                PostContent = "This is a new post! This is a new post! This is a new post! This is a new post! This is a new post! This is a new post!",
                PublishDateTime = DateTime.Now
            });
    }

@{
    Html.RenderPartial("PostItemPartialView",
        new PostModel()
        {
            Author = "Dr TJ",
            PostContent = "This is a new post! This is a new post! This is a new post! This is a new post! This is a new post! This is a new post!",
            PublishDateTime = DateTime.Now
        });
}

@{
    Html.RenderPartial("PostItemPartialView",
        new PostModel()
        {
            Author = "Dr TJ",
            PostContent = "This is a new post! This is a new post! This is a new post! This is a new post! This is a new post! This is a new post!",
            PublishDateTime = DateTime.Now
        });
}


</div>

<div class="birthday" style="padding-top: 15px; padding-bottom: 15px; font: 9pt tahoma; color: #666;" dir="ltr" align="center">
    <img src="~/Content/imgs/boy.png" /><br>
    July 26th, 1987
</div>